[submodule "tui/reference/koog"]
	path = tui/reference/koog
	url = https://github.com/JetBrains/koog.git
[submodule "tui/reference/SimpleMainKts"]
	path = tui/reference/SimpleMainKts
	url = git@github.com:Stream29/SimpleMainKts.git
