[submodule "reference/koog"]
	path = reference/koog
	url = https://github.com/JetBrains/koog.git
[submodule "reference/SimpleMainKts"]
	path = reference/SimpleMainKts
	url = git@github.com:Stream29/SimpleMainKts.git
